<h1>Add Genre</h1>
<hr />

<h2>Genre:</h2>
@if (Model.Count != 0)
{
  {
    <ul>
      @foreach (var genre in Model)
      {
        <li><a href='/genres/@genre.GetId()'>@genre.GetName()</a></li>
      }
    </ul>
  }
}
else
{
  <p>AINT NOTHIN</p>
}

<form action="/genre/new" method="post">
  <label for="genre-name">Genre name:</label>
  <input id="genre-name" name="genre-name" type="text">
  <button type="submit">Add a new Genre</button>
</form>

<p><a href="/">Return to Main Page</a></p>
