@{
  Layout="Shared/_Layout.cshtml";
}


<h1>Librarian Tools</h1>
<hr />

<br>
<h4><a href="/book/new">View all Books/Add a new Book</a></h4>
<br>
<h4><a href="/author/new">View all Authors/Add a new Author</a></h4>
<br>
<h4><a href="/genre/new">View all Genres/Add a new Genre</a></h4>
<br>
<h4><a href="/">Return home</a></h4>
