<h1>Librarian Tools</h1>
<hr />


<h4><a href="/book/new">Add a new Book</a></h4>
<br>
<h4><a href="/author/new">Add a new Author</a></h4>
<br>
<h4><a href="/genre/new">Add a new Genre</a></h4>
<br>
<h4><a href="/">Return home</a></h4>
